<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Default" connectionString="Server=.;Database=Hierarchy;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="table" value="Classification"/>
    <add key="id" value="Id"/>
    <add key="name" value="Name"/>
    <add key="parentId" value="ParentId" />
  </appSettings>
</configuration>